<li [ngClass]="{
      'list-group-item': true,
      'list-group-item-success': appareilStatus === 'Allumé',
      'list-group-item-danger': appareilStatus === 'Eteint' }">
  <h4 [ngStyle]="{color: getColor()}">Appareil : {{ appareilName }} -- Statut : {{ getStatus() }}</h4>
  <a [routerLink]="[id]">Détails</a>
  <button class="btn btn-success"
    (click)="onSwitchOne()" [disabled]="appareilStatus === 'Allumé'">Allumer
  </button>
  <button class="btn btn-danger"
    (click)="offSwitchOne()" [disabled]="appareilStatus === 'Eteint'">Eteindre
  </button>
</li>
